<header>
  <nav user="{{currentuser.name}}" uid="{{currentuser._id}}">
    <ul>
      <li class="titling"><a href="/">Tweee</a></li>
      <li id="signin"><a href="/login">Sign in</a></li>
      <li id="signout"><a href="">Sign out</a></li>
    </ul>
  </nav>
</header>
